<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gauntletLock_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{41,70}</string>
                <key>textureRect</key>
                <string>{{984,1},{39,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_bonus_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{818,753},{119,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_chaos_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,122}</string>
                <key>spriteSourceSize</key>
                <string>{118,122}</string>
                <key>textureRect</key>
                <string>{{635,897},{118,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_crystal_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{119,116}</string>
                <key>spriteSourceSize</key>
                <string>{119,122}</string>
                <key>textureRect</key>
                <string>{{907,136},{119,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_death_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{118,160}</string>
                <key>textureRect</key>
                <string>{{548,650},{118,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_demon_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{118,125}</string>
                <key>spriteSourceSize</key>
                <string>{118,129}</string>
                <key>textureRect</key>
                <string>{{663,778},{118,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_doom_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{118,135}</string>
                <key>spriteSourceSize</key>
                <string>{118,141}</string>
                <key>textureRect</key>
                <string>{{820,634},{118,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_fire_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,121}</string>
                <key>spriteSourceSize</key>
                <string>{119,121}</string>
                <key>textureRect</key>
                <string>{{789,873},{119,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_ice_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,113}</string>
                <key>spriteSourceSize</key>
                <string>{119,113}</string>
                <key>textureRect</key>
                <string>{{907,256},{119,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_lava_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{120,133}</string>
                <key>textureRect</key>
                <string>{{255,859},{120,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_magic_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{119,126}</string>
                <key>spriteSourceSize</key>
                <string>{119,128}</string>
                <key>textureRect</key>
                <string>{{389,867},{119,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_monster_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{119,130}</string>
                <key>spriteSourceSize</key>
                <string>{119,132}</string>
                <key>textureRect</key>
                <string>{{687,658},{119,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_ncs01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{130,147}</string>
                <key>spriteSourceSize</key>
                <string>{130,179}</string>
                <key>textureRect</key>
                <string>{{611,131},{130,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_ncs02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{130,147}</string>
                <key>spriteSourceSize</key>
                <string>{130,179}</string>
                <key>textureRect</key>
                <string>{{759,136},{130,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new01_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{282,466},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{128,144}</string>
                <key>spriteSourceSize</key>
                <string>{128,158}</string>
                <key>textureRect</key>
                <string>{{869,376},{128,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{128,132}</string>
                <key>spriteSourceSize</key>
                <string>{128,138}</string>
                <key>textureRect</key>
                <string>{{415,610},{128,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new04_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{128,139}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{857,505},{128,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new05_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,136}</string>
                <key>spriteSourceSize</key>
                <string>{125,136}</string>
                <key>textureRect</key>
                <string>{{553,524},{125,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new06_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,139}</string>
                <key>textureRect</key>
                <string>{{274,729},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new07_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,25}</string>
                <key>spriteSize</key>
                <string>{129,182}</string>
                <key>spriteSourceSize</key>
                <string>{137,232}</string>
                <key>textureRect</key>
                <string>{{629,1},{129,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new08_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,138}</string>
                <key>spriteSourceSize</key>
                <string>{128,138}</string>
                <key>textureRect</key>
                <string>{{141,583},{128,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new09_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{128,138}</string>
                <key>spriteSourceSize</key>
                <string>{128,142}</string>
                <key>textureRect</key>
                <string>{{1,584},{128,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new10_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,153}</string>
                <key>textureRect</key>
                <string>{{1,197},{128,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new11_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{128,146}</string>
                <key>spriteSourceSize</key>
                <string>{128,162}</string>
                <key>textureRect</key>
                <string>{{439,223},{128,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new12_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{128,138}</string>
                <key>textureRect</key>
                <string>{{416,481},{128,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new13_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{128,129}</string>
                <key>spriteSourceSize</key>
                <string>{128,145}</string>
                <key>textureRect</key>
                <string>{{1,842},{128,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new14_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,139}</string>
                <key>spriteSourceSize</key>
                <string>{128,139}</string>
                <key>textureRect</key>
                <string>{{1,455},{128,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new15_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{128,141}</string>
                <key>spriteSourceSize</key>
                <string>{128,145}</string>
                <key>textureRect</key>
                <string>{{715,400},{128,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new16_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,181}</string>
                <key>textureRect</key>
                <string>{{149,197},{128,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new17_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{128,192}</string>
                <key>textureRect</key>
                <string>{{482,68},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new18_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,133}</string>
                <key>spriteSourceSize</key>
                <string>{128,133}</string>
                <key>textureRect</key>
                <string>{{140,712},{128,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new19_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{128,144}</string>
                <key>spriteSourceSize</key>
                <string>{128,154}</string>
                <key>textureRect</key>
                <string>{{1,326},{128,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new20_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{128,159}</string>
                <key>spriteSourceSize</key>
                <string>{128,169}</string>
                <key>textureRect</key>
                <string>{{163,68},{128,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new21_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{128,158}</string>
                <key>spriteSourceSize</key>
                <string>{128,200}</string>
                <key>textureRect</key>
                <string>{{323,68},{128,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new22_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{128,154}</string>
                <key>textureRect</key>
                <string>{{280,600},{128,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new23_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{128,161}</string>
                <key>spriteSourceSize</key>
                <string>{128,207}</string>
                <key>textureRect</key>
                <string>{{1,68},{128,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new24_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{134,137}</string>
                <key>spriteSourceSize</key>
                <string>{138,161}</string>
                <key>textureRect</key>
                <string>{{291,331},{134,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new25_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{128,142}</string>
                <key>spriteSourceSize</key>
                <string>{128,168}</string>
                <key>textureRect</key>
                <string>{{429,352},{128,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new26_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{128,133}</string>
                <key>spriteSourceSize</key>
                <string>{128,151}</string>
                <key>textureRect</key>
                <string>{{1,713},{128,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new27_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{128,142}</string>
                <key>spriteSourceSize</key>
                <string>{128,168}</string>
                <key>textureRect</key>
                <string>{{572,395},{128,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new28_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,29}</string>
                <key>spriteSize</key>
                <string>{134,171}</string>
                <key>spriteSourceSize</key>
                <string>{138,229}</string>
                <key>textureRect</key>
                <string>{{812,1},{134,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new29_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,139}</string>
                <key>textureRect</key>
                <string>{{404,739},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_new30_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{128,129}</string>
                <key>spriteSourceSize</key>
                <string>{128,145}</string>
                <key>textureRect</key>
                <string>{{690,529},{128,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new31_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{132,141}</string>
                <key>spriteSourceSize</key>
                <string>{132,167}</string>
                <key>textureRect</key>
                <string>{{586,262},{132,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new32_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{132,140}</string>
                <key>spriteSourceSize</key>
                <string>{132,166}</string>
                <key>textureRect</key>
                <string>{{728,267},{132,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new33_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{133,141}</string>
                <key>spriteSourceSize</key>
                <string>{133,167}</string>
                <key>textureRect</key>
                <string>{{297,197},{133,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new34_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{128,144}</string>
                <key>spriteSourceSize</key>
                <string>{128,172}</string>
                <key>textureRect</key>
                <string>{{146,326},{128,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_new35_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{127,140}</string>
                <key>spriteSourceSize</key>
                <string>{127,166}</string>
                <key>textureRect</key>
                <string>{{141,455},{127,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_poison_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{118,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,131}</string>
                <key>textureRect</key>
                <string>{{516,889},{118,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_shadow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{118,109}</string>
                <key>spriteSourceSize</key>
                <string>{118,117}</string>
                <key>textureRect</key>
                <string>{{909,873},{118,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>island_spike_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{119,139}</string>
                <key>spriteSourceSize</key>
                <string>{119,143}</string>
                <key>textureRect</key>
                <string>{{135,841},{119,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>island_time_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{119,129}</string>
                <key>spriteSourceSize</key>
                <string>{119,137}</string>
                <key>textureRect</key>
                <string>{{533,769},{119,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theLostGauntletsLabel_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{627,66}</string>
                <key>spriteSourceSize</key>
                <string>{631,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{627,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GauntletSheet-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd65a9b78532349192cf677b36d8154a:c17dc4cc66d2a96c7dd01f054367bf87:e43528e55c10f2683a103180db48aec4$</string>
            <key>textureFileName</key>
            <string>GauntletSheet-hd.png</string>
        </dict>
    </dict>
</plist>
